#address{
	height:20px;
	padding:5px 0 0;	
}
button{
	height:28px;
}
.accessP{
 	background-image:url(../img/shelter_pa_16.png);
}
.accessY{
 	background-image:url(../img/shelter_fa_16.png);
}